services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    container_name: rain_backend
    command: tail -f /dev/null
    env_file:
      - ./.env
    volumes:
      - .:/app
      - ~/GoogleDrive/weather_data:/app/cloud_data
      - ./data:/data
    environment:
      - DATABASE_URL=sqlite:////data/weather.db
      - PYTHONPATH=/app/src
    ports:
      - "8000:8000"
    restart: "no"