name: Build and Push Docker Image

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '**.md'

env:
  IMAGE_NAME: jadosh/precipitation-forecasting

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Set up Docker Buildx (Essential for caching and modern builds)
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # Login to Docker Hub using Secrets (We will set these next)
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build the image and push it to Docker Hub
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}:latest
          # Smart Caching: Makes your builds 10x faster next time
          cache-from: type=gha
          cache-to: type=gha,mode=max